.css{
    margin: 100;
    padding: 200;
    box-sizing: border-box;
}

.bg-dark{
    background-color: rgba(255, 38, 0, 0.884);
}

.mt-50
{
    margin-top: 50px;
}
#canvas{
    border: 2px solid blue;
}